# Mematikan eksekusi file script berbahaya di folder uploads
<FilesMatch "\.(php|php3|php4|php5|phtml|pl|py|jsp|asp|htm|html|shtml|sh|cgi)$">
    Require all denied
</FilesMatch>

# Hanya izinkan akses file gambar
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Require all granted
</FilesMatch>